.whis-key {
    margin:0;
    padding:0;
    li {
        list-style: none;
        display:block;
        @include mq_max($desktop) {
            padding:14px 22px;
        }
        @include mq($desktop) {
            display:inline-block;
        }
    }
}

.key-block {
    position: relative;
    &:before {
        color:$white !important;
        text-transform:uppercase;
        font-weight:bold;
        font-size:8px;
        display:inline-block;
        min-width:14px;
        top:3px;
        left:-25px;
        border-radius:50%;
        position: absolute;
        height:16px;
        width:16px;
        padding-top:3px;
        text-align:center;
    }
    &--b:before {
        content:'b';
        background-color:$orange;
    }
    &--r:before {
        content: 'r';
        background-color:$red;
    }
    &--s:before {
        content:'s';
        background-color:$yellow;
    }
    &--j:before {
        content:'j';
        background-color:$purple;
    }
    &--i:before {
        content:'i';
        background-color:$green;
    }
    &--m:before {
        content:'m';
        background-color:$teal-dark;
    }
    &--o:before {
        content:'o';
        background-color:$blue;
    }
    &--f:before {
		content:'f';
		background-color:lighten($blue, 10%);
    }
    &--w:before {
        content:'w';
        background-color:$orange;
	}
    &--c:before {
        content:'c';
        background-color:#b71540;
	}
    &--tw:before {
        content:'t';
        background-color:#60a3bc;
	}
    &--ms:before {
        content:'ms';
        background-color:#f6b93b;
	}
    &--bw:before {
        content:'bl';
        background-color:#0a3d62;
	}
	
}
.key {
    font-weight:bold;
	margin-right:10px;
	font-size:14px;
    position: relative;
    padding-left:25px;
    .key-block:before {
        left:-22px;
    }
    color:$gray_45;
}
