.list-filters {
	display:flex;
	justify-content: flex-start;
	width:50%;
}
.list-filter {
	margin-right:15px;
	label {
		display:block;
		font-size:12px;
		font-weight:bold;
		font-family:$font-secondary;
	}
}