.list-filters {
	display:flex;
	justify-content: flex-start;
	width:100%;
	position:sticky;
	top:0;
	background:white;
	z-index: 99;
	padding:15px 12px;
	border-bottom:1px $gray_30 solid;
	margin-bottom:15px;
}
.list-filter {
	margin-right:15px;
	label {
		display:block;
		font-size:12px;
		font-weight:bold;
		font-family:$font-secondary;
		&.inline {
			display:inline-block;
		}
	}
}