.social-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2em auto
}

.social-wrapper a {
	width:35px;
	height:35px;
	@include mq($desktop) {
		width:50px;
		height:50px;
	}
	position:relative;
	display:block;
	margin-right:20px;
	&:after {
		content:'';
		width:110%;
		height:110%;
		background:white;
		border-radius:100%;
		position:absolute;
		z-index:-1;
		top:50%;
		left:50%;
		transform:translateX(-50%) translateY(-50%) scale(1);
		transform-origin:center;
		transition: all .3s ease;
	}
	svg {
		width: 100%;
		height: auto;
		max-height:100%;
		position:absolute;
		top:50%;
		left:50%;
		transition: all .3s ease;
		transform: translateX(-50%) translateY(-50%) scale(0.5);
		fill: black;
	}
	&:hover {
		svg {
			fill: white;
			transform:translateX(-50%) translateY(-50%) scale(0.7);
		}
		&:after {
			transform:translateX(-50%) translateY(-50%) scale(0.1);
			opacity:0;
		}
	}
}