/***

Global Styles

Global styles are designed to handle some overarching settings
such as viewport settings and box sizing.

Styles added to this file should be limited to styles applied
globally to base level elements.

***/

// Set viewport options
@-webkit-viewport {width: device-width;}
@-mos-viewport {width: device-width;}
@-ms-viewport {width: device-width;}
@-o-viewport {width: device-width;}
@viewport {width: device-width;}

// Set box sizing
*, *:before, *:after {
    box-sizing: border-box;
}

html {
	overflow-x: hidden;
}

body {
    background-color:$asphalt;
    color:$white;
    background-image: url('./assets/images/hero-2.jpg');
    background-repeat:no-repeat;
    background-position: center;
    background-attachment:fixed;
    background-size:cover;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}


p a {
    color:$red;
    text-decoration: none;
    transition: all 275ms;
    &:hover {
        color:$red-dark;
    }
}

.intro__headline {
	text-align: center;
	font-weight:100;
	margin-top:20px;
	@include mq($desktop) {
		margin-top:50px;
		font-size:62px;
		font-size:62px;
	}
}
h2 {
	@include mq_max($desktop) {
		text-align:center;
		font-size:28px;
	}
}