/***

Layout

***/

.content-wrapper {
	position: relative;
	display:block;
	padding-bottom:50px;
}

.content__inner {
	background:white;
	color:$txt;
	width:95%;
	padding:42px 3%;
	@include mq($tablet) {
		width:75%;
		padding:42px 35px;
	}
	@include mq($max-width) {
		width: $max-width / 1.2;
	}
	margin:0 auto;
	
}

.container {
	width:100%;
}

.divider {
	margin:35px 0;
	background-color:$gray_15;
	height:1px;
	width:100%;
	display:block;
}
